body{
    font-family:'Poppins', sans-serif;
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    min-height:100vh;
    color:#333;
}
.title{
    font-weight:700;
    color: white;
}
.subtitle{
    color:#eafff5;
    margin-bottom: 30px;
}
.custom-card{
    border-radius: 20px;
    background: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.summary-card {
    border-radius: 20px;
    background: linear-gradient(135deg, #43cea2, #185a9d);
    color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.summary-text {
    font-size: 1.5rem;
    font-weight: bold;
}
.input-style{
    border-radius: 10px;
    padding: 10px;
}
#username{
    text-align:center;
    font-weight:500;
}